root { 
    display: block;
}

.sansSerif{
    font-family: sans-serif;

}
.centered {
    text-align: center;

}
ul {
   list-style-type: none;
    margin: 0;
    padding: 0; 
    background-color: gray;
}

li {
    float: left;
}

li a {
    
    color: blue;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover:not(.active)  {
    background-color: graytext;
}

.active {
    background-color: green;
}
.active1 {
    background-color: green;
}
.active2 {
    background-color: green;
}
.active3 {
    background-color: green;
}
body {
    background-color: graytext;
}

body {
  padding: 20px;
}


 /* Remove the navbar's default margin-bottom and rounded borders */ 
    .navbar {
      margin-bottom: 0;
      border-radius: 0;
    }
    
    /* Add a gray background color and some padding to the footer */
    footer {
      background-color: #f2f2f2;
      padding: 25px;
    }